<div>
    {% extends 'inicio.html' %}
    {% load static %}

        {% block contenidoQueCambia %}
        <h4>¿Deseas ayudarnos comprando un accesorio para tu mascota?</h4>
        <h6>Todos los accesorios vienen personalizados</h6>
        <div class="card" style="width: 18rem;">
            <img src="https://ae01.alicdn.com/kf/HTB1CuIxfBLN8KJjSZFPq6xoLXXaN/Collar-Harness-Leather-Rhinestone-For-Small-Dog-Puppy-Dog-Leash-Bling-Crystal-With-Bone-Necklace-Pet.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">COLLAR ROSA</h5>
              <p class="card-text">Apto para perros y gatos</p>
              <a href="https://api.whatsapp.com/send?phone=+541126254633&text=Hola%2C+te+hablo+desde+tu+pagina+%22Huellitas+felices%22.+%C2%BFPodrias+darme+mas+informacion%3F+%F0%9F%98%84" class="btn btn-primary">Contacto</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://ae01.alicdn.com/kf/HTB1RUeTRXXXXXa7aXXXq6xXFXXX4/PipiFren-Small-Dogs-Collars-Rhinestone-Bone-Accessories-Puppy-Necklace-For-Pet-Cat-Supplies-Chihuahua-dieren-benodigheden.jpg_640x640.jpg" class="img" alt="...">
          <div class="card-body">
            <h5 class="card-title">COLLAR AZUL</h5>
            <p class="card-text">Apto para perros y gatos</p>
            <a href="https://api.whatsapp.com/send?phone=+541126254633&text=Hola%2C+te+hablo+desde+tu+pagina+%22Huellitas+felices%22.+%C2%BFPodrias+darme+mas+informacion%3F+%F0%9F%98%84" class="btn btn-primary">Contacto</a>
          </div>
      {% endblock %}
</div>