<div>
    {% extends 'inicio.html' %}
    {% load static %}

        {% block contenidoQueCambia %}
          <h1>¿Quieres adoptar?</h1>
          <h1> </h1>
          <p>
            Para poder adoptar, necesitamos que llenes nuestro pequeño formulario
          </p>
          <p>Llenalo <a href="{% url 'setAdoptar' %}">aqui</a></p>

          <div class="formSetAdoptar">
            {% block setAdoptar %}
            {% endblock %}
          </div>
          <div class="formGetAdoptar">
            {% block getAdoptar %}
            {% endblock %}
          </div>
        {% endblock %}

</div>